<!-- Breadcrumbs Start -->
<div class="rs-breadcrumbs img2">
    <div class="container">
        <div class="breadcrumbs-inner">
            <h1 class="page-title">
                Portfolios 
            </h1>
            <span class="sub-text">Excepteur sint occaecat cupidatat non proident, sunt in coulpa qui official<br>
                modeserunt mollit anim id est 20 years experience.</span>
            <ul class="breadcrumbs-area">
                <li title="Go to Bavandi">
                    <a class="active" routerLink="/">Home</a>
                </li>
                <li>Portfolios</li>
            </ul>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->

<!-- Project Section Start -->
<div class="rs-project project-style1 gray-bg pt-120 pb-120 md-pt-80 md-pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-30">
                <div class="project-item">
                    <div class="project-img">
                        <a routerLink="/projects-single"><img src="assets/images/project/style1/1.jpg" alt="images"></a>
                    </div>
                    <div class="project-content">
                        <div class="project-inner">
                            <h3 class="title"><a routerLink="/projects-single">Blue Glass Building</a></h3>
                            <span class="category"><a routerLink="/projects-single">Architecture</a></span>
                        </div>
                        <div class="p-icon"><a routerLink="/projects-single"><i class="flaticon-next"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-30">
                <div class="project-item">
                    <div class="project-img">
                        <a routerLink="/projects-single"><img src="assets/images/project/style1/2.jpg" alt="images"></a>
                    </div>
                    <div class="project-content">
                        <div class="project-inner">
                            <h3 class="title"><a routerLink="/projects-single">Ferguson Family YMCA</a></h3>
                            <span class="category"><a routerLink="/projects-single">Architecture</a></span>
                        </div>
                        <div class="p-icon"><a routerLink="/projects-single"><i class="flaticon-next"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-30">
                <div class="project-item">
                    <div class="project-img">
                        <a routerLink="/projects-single"><img src="assets/images/project/style1/3.jpg" alt="images"></a>
                    </div>
                    <div class="project-content">
                        <div class="project-inner">
                            <h3 class="title"><a routerLink="/projects-single">Stone Harbor</a></h3>
                            <span class="category"><a routerLink="/projects-single">House & Exterior</a></span>
                        </div>
                        <div class="p-icon"><a routerLink="/projects-single"><i class="flaticon-next"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 md-mb-30">
                <div class="project-item">
                    <div class="project-img">
                        <a routerLink="/projects-single"><img src="assets/images/project/style1/4.jpg" alt="images"></a>
                    </div>
                    <div class="project-content">
                        <div class="project-inner">
                            <h3 class="title"><a routerLink="/projects-single">Hyatt Regency</a></h3>
                            <span class="category"><a routerLink="/projects-single">House & Exterior</a></span>
                        </div>
                        <div class="p-icon"><a routerLink="/projects-single"><i class="flaticon-next"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 sm-mb-30">
                <div class="project-item">
                    <div class="project-img">
                        <a routerLink="/projects-single"><img src="assets/images/project/style1/5.jpg" alt="images"></a>
                    </div>
                    <div class="project-content">
                        <div class="project-inner">
                            <h3 class="title"><a routerLink="/projects-single">Eisenhower Elementary</a></h3>
                            <span class="category"><a routerLink="/projects-single">Interiors</a></span>
                        </div>
                        <div class="p-icon"><a routerLink="/projects-single"><i class="flaticon-next"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="project-item">
                    <div class="project-img">
                        <a routerLink="/projects-single"><img src="assets/images/project/style1/6.jpg" alt="images"></a>
                    </div>
                    <div class="project-content">
                        <div class="project-inner">
                            <h3 class="title"><a routerLink="/projects-single">Edison Middle School</a></h3>
                            <span class="category"><a routerLink="/projects-single">Interiors</a></span>
                        </div>
                        <div class="p-icon"><a routerLink="/projects-single"><i class="flaticon-next"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Project Section End -->