<!-- Breadcrumbs Start -->
<div class="rs-breadcrumbs img1">
    <div class="container">
        <div class="breadcrumbs-inner">
            <h1 class="page-title">
                Team Style 1
            </h1>
            <span class="sub-text">Excepteur sint occaecat cupidatat non proident, sunt in coulpa qui official<br>
                modeserunt mollit anim id est 20 years experience.</span>
            <ul class="breadcrumbs-area">
                <li title="Go to Bavandi">
                    <a class="active" routerLink="/">Home</a>
                </li>
                <li>Team Style 1</li>
            </ul>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->

<!-- Team Section Start -->
<div class="rs-team team-style3 team-modify3 pt-120 pb-120 md-pt-80 md-pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-30">
                <div class="team-item-wrap">
                    <div class="team-inner-wrap">
                        <div class="image-wrap">
                            <a routerLink="/team-single"><img src="assets/images/team/style1/tm1.jpg" alt="Team"></a>
                        </div>
                        <div class="team-content">
                            <div class="team-info">
                                <h3 class="team-name">
                                    <a routerLink="/team-single">Carmine Endrizzi</a>
                                </h3>
                                <span class="team-title">Builder Advisor</span>
                            </div>
                            <div class="plus-team">
                                <div class="social-icons">
                                    <a [routerLink]="null"><i class="fa fa-facebook"></i></a>
                                    <a [routerLink]="null"><i class="fa fa-instagram"></i></a>
                                    <a [routerLink]="null"><i class="fa fa-twitter"></i></a>
                                    <a [routerLink]="null"><i class="fa fa-linkedin"></i></a>
                                </div>
                                <i class="fi fi-rr-share share-i"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-30">
                <div class="team-item-wrap">
                    <div class="team-inner-wrap">
                        <div class="image-wrap">
                            <a routerLink="/team-single"><img src="assets/images/team/style1/tm2.jpg" alt="Team"></a>
                        </div>
                        <div class="team-content">
                            <div class="team-info">
                                <h3 class="team-name">
                                    <a routerLink="/team-single">Richard Landry</a>
                                </h3>
                                <span class="team-title">CEO & Engineer</span>
                            </div>
                            <div class="plus-team">
                                <div class="social-icons">
                                    <a [routerLink]="null"><i class="fa fa-facebook"></i></a>
                                    <a [routerLink]="null"><i class="fa fa-instagram"></i></a>
                                    <a [routerLink]="null"><i class="fa fa-twitter"></i></a>
                                    <a [routerLink]="null"><i class="fa fa-linkedin"></i></a>
                                </div>
                                <i class="fi fi-rr-share share-i"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-30">
                <div class="team-item-wrap">
                    <div class="team-inner-wrap">
                        <div class="image-wrap">
                            <a routerLink="/team-single"><img src="assets/images/team/style1/tm3.jpg" alt="Team"></a>
                        </div>
                        <div class="team-content">
                            <div class="team-info">
                                <h3 class="team-name">
                                    <a routerLink="/team-single">Michael Lindsey</a>
                                </h3>
                                <span class="team-title">Infrastructure Worker</span>
                            </div>
                            <div class="plus-team">
                                <div class="social-icons">
                                    <a [routerLink]="null"><i class="fa fa-facebook"></i></a>
                                    <a [routerLink]="null"><i class="fa fa-instagram"></i></a>
                                    <a [routerLink]="null"><i class="fa fa-twitter"></i></a>
                                    <a [routerLink]="null"><i class="fa fa-linkedin"></i></a>
                                </div>
                                <i class="fi fi-rr-share share-i"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-30">
                <div class="team-item-wrap">
                    <div class="team-inner-wrap">
                        <div class="image-wrap">
                            <a routerLink="/team-single"><img src="assets/images/team/style1/tm4.jpg" alt="Team"></a>
                        </div>
                        <div class="team-content">
                            <div class="team-info">
                                <h3 class="team-name">
                                    <a routerLink="/team-single">Lorenzo Veitch</a>
                                </h3>
                                <span class="team-title">Foreman</span>
                            </div>
                            <div class="plus-team">
                                <div class="social-icons">
                                    <a [routerLink]="null"><i class="fa fa-facebook"></i></a>
                                    <a [routerLink]="null"><i class="fa fa-instagram"></i></a>
                                    <a [routerLink]="null"><i class="fa fa-twitter"></i></a>
                                    <a [routerLink]="null"><i class="fa fa-linkedin"></i></a>
                                </div>
                                <i class="fi fi-rr-share share-i"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-30">
                <div class="team-item-wrap">
                    <div class="team-inner-wrap">
                        <div class="image-wrap">
                            <a routerLink="/team-single"><img src="assets/images/team/tm4.jpg" alt="Team"></a>
                        </div>
                        <div class="team-content">
                            <div class="team-info">
                                <h3 class="team-name">
                                    <a routerLink="/team-single">Leo Harnent Keorn</a>
                                </h3>
                                <span class="team-title">CEO & Engineer</span>
                            </div>
                            <div class="plus-team">
                                <div class="social-icons">
                                    <a [routerLink]="null"><i class="fa fa-facebook"></i></a>
                                    <a [routerLink]="null"><i class="fa fa-instagram"></i></a>
                                    <a [routerLink]="null"><i class="fa fa-twitter"></i></a>
                                    <a [routerLink]="null"><i class="fa fa-linkedin"></i></a>
                                </div>
                                <i class="fi fi-rr-share share-i"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-30">
                <div class="team-item-wrap">
                    <div class="team-inner-wrap">
                        <div class="image-wrap">
                            <a routerLink="/team-single"><img src="assets/images/team/tm5.jpg" alt="Team"></a>
                        </div>
                        <div class="team-content">
                            <div class="team-info">
                                <h3 class="team-name">
                                    <a routerLink="/team-single">Dj Bravo</a>
                                </h3>
                                <span class="team-title">Builder Advisor</span>
                            </div>
                            <div class="plus-team">
                                <div class="social-icons">
                                    <a [routerLink]="null"><i class="fa fa-facebook"></i></a>
                                    <a [routerLink]="null"><i class="fa fa-instagram"></i></a>
                                    <a [routerLink]="null"><i class="fa fa-twitter"></i></a>
                                    <a [routerLink]="null"><i class="fa fa-linkedin"></i></a>
                                </div>
                                <i class="fi fi-rr-share share-i"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-30">
                <div class="team-item-wrap">
                    <div class="team-inner-wrap">
                        <div class="image-wrap">
                            <a routerLink="/team-single"><img src="assets/images/team/tm6.jpg" alt="Team"></a>
                        </div>
                        <div class="team-content">
                            <div class="team-info">
                                <h3 class="team-name">
                                    <a routerLink="/team-single">John William</a>
                                </h3>
                                <span class="team-title">Infrastructure Worker</span>
                            </div>
                            <div class="plus-team">
                                <div class="social-icons">
                                    <a [routerLink]="null"><i class="fa fa-facebook"></i></a>
                                    <a [routerLink]="null"><i class="fa fa-instagram"></i></a>
                                    <a [routerLink]="null"><i class="fa fa-twitter"></i></a>
                                    <a [routerLink]="null"><i class="fa fa-linkedin"></i></a>
                                </div>
                                <i class="fi fi-rr-share share-i"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 md-mb-30">
                <div class="team-item-wrap">
                    <div class="team-inner-wrap">
                        <div class="image-wrap">
                            <a routerLink="/team-single"><img src="assets/images/team/tm8.jpg" alt="Team"></a>
                        </div>
                        <div class="team-content">
                            <div class="team-info">
                                <h3 class="team-name">
                                    <a routerLink="/team-single">Xavier Davids</a>
                                </h3>
                                <span class="team-title">Manager</span>
                            </div>
                            <div class="plus-team">
                                <div class="social-icons">
                                    <a [routerLink]="null"><i class="fa fa-facebook"></i></a>
                                    <a [routerLink]="null"><i class="fa fa-instagram"></i></a>
                                    <a [routerLink]="null"><i class="fa fa-twitter"></i></a>
                                    <a [routerLink]="null"><i class="fa fa-linkedin"></i></a>
                                </div>
                                <i class="fi fi-rr-share share-i"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 sm-mb-30">
                <div class="team-item-wrap">
                    <div class="team-inner-wrap">
                        <div class="image-wrap">
                            <a routerLink="/team-single"><img src="assets/images/team/tm3.jpg" alt="Team"></a>
                        </div>
                        <div class="team-content">
                            <div class="team-info">
                                <h3 class="team-name">
                                    <a routerLink="/team-single">Davis Youn</a>
                                </h3>
                                <span class="team-title">Architecture</span>
                            </div>
                            <div class="plus-team">
                                <div class="social-icons">
                                    <a [routerLink]="null"><i class="fa fa-facebook"></i></a>
                                    <a [routerLink]="null"><i class="fa fa-instagram"></i></a>
                                    <a [routerLink]="null"><i class="fa fa-twitter"></i></a>
                                    <a [routerLink]="null"><i class="fa fa-linkedin"></i></a>
                                </div>
                                <i class="fi fi-rr-share share-i"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-item-wrap">
                    <div class="team-inner-wrap">
                        <div class="image-wrap">
                            <a routerLink="/team-single"><img src="assets/images/team/tm2.jpg" alt="Team"></a>
                        </div>
                        <div class="team-content">
                            <div class="team-info">
                                <h3 class="team-name">
                                    <a routerLink="/team-single">Eng Riaz Ahmad</a>
                                </h3>
                                <span class="team-title">Project Manager</span>
                            </div>
                            <div class="plus-team">
                                <div class="social-icons">
                                    <a [routerLink]="null"><i class="fa fa-facebook"></i></a>
                                    <a [routerLink]="null"><i class="fa fa-instagram"></i></a>
                                    <a [routerLink]="null"><i class="fa fa-twitter"></i></a>
                                    <a [routerLink]="null"><i class="fa fa-linkedin"></i></a>
                                </div>
                                <i class="fi fi-rr-share share-i"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team Section End -->